**/MDK-ARM/TWO_impulses/*.o
**/MDK-ARM/TWO_impulses/*.d
**/MDK-ARM/TWO_impulses/*.crf
**/MDK-ARM/TWO_impulses/*.dep
**/MDK-ARM/TWO_impulses/*.htm
**/MDK-ARM/TWO_impulses/*.axf
**/MDK-ARM/TWO_impulses/*.iex
**/MDK-ARM/TWO_impulses/*.Imp
**/MDK-ARM/TWO_impulses.uvoptx
**/TWO_impulses.axf
**/TWO_impulses.build_log.htm
**/MDK-ARM/TWO_impulses/TWO_impulses.hex
MDK-ARM/TWO_impulses/TWO_impulses.htm
**/MDK-ARM/TWO_impulses/TWO_impulses.map
**/MDK-ARM/TWO_impulses/TWO_impulses_TWO_impulses.depgit 